<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/05d939ce-3acd-4b19-ad17-32ace607570a/resourceGroups/SKH/providers/Microsoft.ContainerRegistry/registries/skhregistry</ResourceId>
    <ResourceName>skhregistry</ResourceName>
    <ResourceGroup>SKH</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://skhregistry.azurecr.io/</RegistryUrl>
    <UserName>skhregistry</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3c8913de-e93a-4d0a-8ed5-0eda734781b3</ProjectGuid>
  </PropertyGroup>
</Project>